body{
    font-family: "Montserrat";
}
h1,h2,h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h1{
    
    font-size: 3.5rem;
    
    line-height: 1.5;
}
h2{
    
font-size: 3rem;
line-height: 1.5;
}

p{
    color: #8f8f8f;
}

#title{
    background-color: #ff4c68;
    color: #fff;
}
.container-fluid{
    /* top right bottom left */
    padding: 3% 15% 7%;

}
/* Download buttons */
.download-button{
    margin: 5% 3% 5% 0;

}
.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}
/* NAVIGATION BAR */
.navbar{
    padding:0 0 4.5rem;
}
.navbar-item{
    padding:0 18px;
    
}
.navbar-nav{
    margin-left: auto;
}
.navba-link{
    font-size: 12rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: light;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}
/* Testimonial section */
#testimonials{
    background-color: #ef8172;
     text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #fff;
}
.carousel-item{
    padding: 7% 15%;
}
.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;

}
.press-img{
    width: 15%;
    margin: 20px 20px 50px;
}
/* pricing section */
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}
@media(max-width:994px){
    
    #title{
        text-align: center;
    }.title-image{
        position: static;

        transform: rotate(0);
    }
}
/* CTA SECTION */
#cta{
   
    padding: 7% 15%;
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
   
}
#cta h3{
    
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 1.5;
    font-size: 3.5rem;
}
/* FOOTER SECTION */
#footer{
    padding: 7% 15%;
    text-align: center;

}
.social-media{
    margin: 20px 10px;
}